<div class="login-container">
  <div class="welcome-section">
        <img src="assets/logo.png" alt="Image de Bienvenue">
    <h1>Bienvenue chez WSM</h1>
    <p>Connectez-vous maintenant pour un accès exclusif !</p>
  </div>
  <div class="login-section">
    <h2 >Connexion</h2>
   <form>
      <label for="name">Nom & Prénom</label>
      <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Votre Nom & votre prénom" required [ngModelOptions]="{standalone: true}" />

      <label for="email">Email</label>
  <input id="email" type="email"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Votre email" required (blur)="validateEmail()" />
  
      
      <label for="pwd">Mot de passe</label>
      <div class="password-container">
        <input id="pwd"  [type]="showPassword ? 'text' : 'password'"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Votre mot de passe" required />
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          <i class="fa fa-eye" aria-hidden="true" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"></i>
        </span>

      </div>

      <div class="btn">
        <button type="submit" class="cnx" (click)="Login()">Connexion
          <i class="fa fa-lock" aria-hidden="false"></i>
        </button>
      </div>

      <span>
        <div>

        </div>
      </span>
      
    </form>
  </div>
</div>


 
  